/*FUENTES*/
@font-face{
    font-family:"confortaa";
    src:url(../fuentes/Comfortaa-VariableFont_wght.ttf);
    }

/*INDEX*/

/*NAV*/

header{
    display: block;
    text-align: right;
    background-color: #346a78ba;
}

header nav{
    text-align: right;
    display:inline-block;
    width:60%;
}

header ul{
    display: inline-block;
    list-style-type: none;
    margin: 0.5em auto;
    text-align: right;
}

header ul li{
    display: inline-block;
}

header ul li a{
    text-decoration: none;
    border: solid;
    border-color: #ffffff;
    border-radius: 50px;
    background-color: #5366b5af;
    color: white;
    padding: 0.3em;
}

header ul li a:hover{
    background-color: #B8B799;
    border-color: #B8B799;
}

header ul li a:active{
    padding: 0.2em;
}

.nav {
    font-family: "confortaa";
    font-weight: bolder;
    font-size: x-large;
    text-align: right;
    display:inline-block;
    width:60%;
}

.paginas{
    text-align: right;
    display: inline-block;
}

.inicio-texto h1 {
    font-family: "confortaa";
    font-weight: bolder;
    font-size: x-large;
}

.confortaa p{ 
        font-family: "confortaa";
    }

.inicio-texto{
    height:30rem;
    background-size:cover;
    background-repeat:no-repeat;
    background-image: url(../imagenes/casaswide.jpg) ;
}

.enventa-images{
    margin:10px auto;
    border-radius:5px;
    border: 3px solid rgb(0, 0, 0);
    padding:13px;
    width:20em;
    
}

.flex-staff{
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
}

.staff-images{
    margin:10px auto;
    border-radius:5px;
    border: 3px solid rgb(0, 0, 0);
    padding:13px;
    width:20em;
}

.staff-images h3{
    text-align:justify
}

.staff {
    background-color: rgba(47, 79, 79, 0.088);
}

.carousel{
    margin-left: 2%;
    margin-right: 2%;

}
